{
  "user": "<user>",
  "commandPrefix": "!",
  "authToken": "<discord bot auth token>", 
  "whitelist": [
    {
      "guild": "<whitelisted server>", 
      "channels": ["<whitelisted channel 1>", "<whitelisted channel 2>"] 
    }
  ],
  "logLevel": "info"
}